h2 {
    color: #eeeeee;
}

img {
    width: 8%;
}

th, td {
    width: 10%;
}

table {
    background-color: #121212 !important;
}

td.mat-cell {
    border-color: #282828;
}

mat-dialog-actions {
    margin-top: 30px;
    float: right;
}

button {
    margin-right: 30px;
    color: #eeeeee !important;
}