<ng-container #popup>
    <h2 mat-dialog-title>CTC Daily Mix - date</h2>
    <mat-dialog-content>
        <table mat-table [dataSource] = "dataSource" class = "mat-elevation-z8"> 
            <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let song"> {{song.title}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Artist">
                <th mat-header-cell *matHeaderCellDef>Artist</th>
                <td mat-cell *matCellDef="let song"> {{song.artist}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Album">
                <th mat-header-cell *matHeaderCellDef>Album</th>
                <td mat-cell *matCellDef="let song"> {{song.albumName}} </td>
            </ng-container>
            
            <ng-container matColumnDef="TrackID">
                <th mat-header-cell *matHeaderCellDef>trackID</th>
                <td mat-cell *matCellDef="let song"> {{song.trackID}} </td>
            </ng-container>
            
            <ng-container matColumnDef="albumCoverURL">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let song"> <img [src]=song.albumCoverURL />  </td>
            </ng-container>
            
            <ng-container matColumnDef="timeAdded">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let song"> {{song.timeAdded}} </td>
            </ng-container>
            
            <ng-container matColumnDef="votes">
                <th mat-header-cell *matHeaderCellDef>Votes</th>
                <td mat-cell *matCellDef="let song"> {{song.votes}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button color="primary" (click)="onSubmitCreate()">Create Playlist</button>
        <button mat-flat-button mat-dialog-close color="primary">Close</button>
    </mat-dialog-actions>
</ng-container>