.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #808080;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
  }
  .gallery-item {
    display: inline-block;
    position: relative;
  }
  
  .gallery-img {
    opacity: 1;
    transition: opacity 0.3s ease-in; /* transition the opacity for nice fade */
  }
  .gallery-item:hover .gallery-img {
    opacity: 0; /* change opacity on wrapper div hover */
  }
  .gallery-button {
    display: block;
    
  }

  .play-button {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    
}
