

    <h1>Daily Playlists</h1>
    
    <p>Here you will find the past days' radio queues compiled into individual playlists.</p>
    
    <div class="grid-container">
      <div class="grid-item"><img src="https://static.billboard.com/files/media/maggie-rogers-heard-it-in-a-past-life-album-art-2019-billboard-1240-1024x1024.jpg" style="width:300px;height:300px;" ></div>
      <div class="grid-item"><img src="https://static.billboard.com/files/media/Anderson-.Paak-Ventura-album-art-2019-billboard-1240-1024x1024.jpg" style="width:300px;height:300px;"></div>
      <div class="grid-item"><img src="https://static.billboard.com/files/media/Billie-Eilish-When-We-All-Fall-Asleep-Where-Do-We-Go_-album-art-2019-billboard-1240-1024x1024.jpg" style="width:300px;height:300px;"></div>  
      <div class="grid-item"><img src="https://static.billboard.com/files/media/Chance-the-Rapper-The-Big-Day-album-art-2019-billboard-1240-1024x1024.jpg" style="width:300px;height:300px;"></div>
      <div class="grid-item"><img src="https://static.billboard.com/files/media/cub-sport-cub-sport-album-art-2019-billboard-1240--1024x1024.jpg" style="width:300px;height:300px;"></div>
      <div class="grid-item"><img src="https://static.billboard.com/files/media/Nina-Nesbitt-The-Sun-Will-Come-Up-the-Seasons-Will-Change-album-art-2019-billboard-1240-1024x1024.jpg" style="width:300px;height:300px;"></div>  
      <div class="grid-item"><img src="https://static.billboard.com/files/media/Missy-Elliott-Iconology-album-art-2019-billboard-1240-1024x1024.jpg" style="width:300px;height:300px;"></div>
      <div class="grid-item"><img src="https://static.billboard.com/files/media/Jade-Bird-Jade-Bird-album-art-2019-billboard-1240-1024x1024.jpg" style="width:300px;height:300px;"></div>
      <div class="grid-item"><img src="https://static.billboard.com/files/media/DaBaby-Kirk-album-art-2019-billboard-1240-1024x1024.jpg" style="width:300px;height:300px;"></div>  
    </div>
    
