<div class="container">
    <h1>Daily Playlists</h1>

    <p>Here you will find the past days' radio queues compiled into individual playlists.</p>

    <mat-grid-list cols="5">
        <mat-grid-tile *ngFor="let playlist of dataSource">
            <div class="gallery-item">
            <img [src]="playlist.albumCoverURL" style="width:300px;height:300px;" class="gallery-img">
                <div class="button-container">
                    <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" class="play-button" (click)="this.play('maggie-rogers-heard-it-in-a-past-life')">
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                </div>
            </div>
        </mat-grid-tile> 
    </mat-grid-list>

</div>
    

