

<mat-toolbar color="accent">
  <span>Create New Account</span>
  <span class="example-spacer"></span>
  <button mat-icon-button mat-dialog-close >
    <mat-icon>cancel</mat-icon>
  </button>
</mat-toolbar>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput [formControl]="firstName">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>LastName</mat-label>
    <input matInput [formControl]="lastName">
  </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. name@chicagotrading.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" matInput [formControl]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-dialog-actions>
        <div class="button-holder">
            <button mat-flat-button color="primary" (click)="onCreateNewAccount()" >Create New Account</button>
        </div>
    </mat-dialog-actions>
  </form> 