<div class="music-player">
  <music-player></music-player>
</div>

<div class="search">
  <mat-form-field appearance="standard">
  <mat-label> Search </mat-label>
  <input matInput [formControl] = "song">
  </mat-form-field>
  <button mat-button color="primary" (click)="search()"> Search </button>
  
  <div [hidden]="isHidden" class="mat-elevation-z0">
    <table mat-table [dataSource] = "dataSourceSearch" > 
      

      <ng-container matColumnDef="Title">
           <th mat-header-cell *matHeaderCellDef>Title </th>
           <td mat-cell *matCellDef="let song"> {{song.title}} </td>
         </ng-container>
       
         <ng-container matColumnDef="Artist">
           <th mat-header-cell *matHeaderCellDef> Artist </th>
           <td mat-cell *matCellDef="let song"> {{song.artist}} </td>
         </ng-container>
       
         <ng-container matColumnDef="Album">
           <th mat-header-cell *matHeaderCellDef> Album </th>
           <td mat-cell *matCellDef="let song"> {{song.albumName}} </td>
         </ng-container>
         
         <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" aria-label="Example icon button with a bookmark icon" 
            class="add-button" (click)="openPopup(row.trackID, row.title, row.artist)">
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </ng-container>
  
         <ng-container matColumnDef="TrackID">
           <th mat-header-cell *matHeaderCellDef> TrackID </th>
           <td mat-cell *matCellDef="let song"> {{song.trackID}} </td>
         </ng-container>
         
         <ng-container matColumnDef="albumCoverURL">
           <th mat-header-cell *matHeaderCellDef></th>
           <td mat-cell *matCellDef="let song"> <img [src]= song.albumCoverURL />  </td>
         </ng-container>
       
       <ng-container matColumnDef="timeAdded">
           <th mat-header-cell *matHeaderCellDef> timeadded </th>
           <td mat-cell *matCellDef="let song"> {{song.timeAdded}} </td>
         </ng-container>
         
         <ng-container matColumnDef="votes">
           <th mat-header-cell *matHeaderCellDef> Votes </th>
           <td mat-cell *matCellDef="let song"> {{song.votes}} </td>
         </ng-container>
    
    
         <tr mat-header-row *matHeaderRowDef="displayedColumnsSearch; sticky: true;"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumnsSearch; "></tr>
    </table>
  </div>
</div>  

<div class="queue mat-elevation-z0">
  <table mat-table [dataSource] = "dataSource" > 
    <ng-container matColumnDef="Title">
         <th mat-header-cell *matHeaderCellDef> Title </th>
         <td mat-cell *matCellDef="let song"> {{song.title}} </td>
       </ng-container>
     
       <ng-container matColumnDef="Artist">
         <th mat-header-cell *matHeaderCellDef> Artist </th>
         <td mat-cell *matCellDef="let song"> {{song.artist}} </td>
       </ng-container>
     
       <ng-container matColumnDef="Album">
         <th mat-header-cell *matHeaderCellDef> Album </th>
         <td mat-cell *matCellDef="let song"> {{song.albumName}} </td>
       </ng-container>
     
       <ng-container matColumnDef="TrackID">
         <th mat-header-cell *matHeaderCellDef> trackID </th>
         <td mat-cell *matCellDef="let song"> {{song.trackID}} </td>
       </ng-container>
       
       <ng-container matColumnDef="albumCoverURL">
         <th mat-header-cell *matHeaderCellDef></th>
         <td mat-cell *matCellDef="let song"> <img [src]= song.albumCoverURL style="width:30px;height:30px;">  </td>
       </ng-container>
     
     <ng-container matColumnDef="timeAdded">
         <th mat-header-cell *matHeaderCellDef> timeadded </th>
         <td mat-cell *matCellDef="let song"> {{song.timeAdded}} </td>
       </ng-container>
       
       <ng-container matColumnDef="votes">
         <th mat-header-cell *matHeaderCellDef> Votes </th>
         <td mat-cell *matCellDef="let song"> {{song.votes}} </td>
       </ng-container>
  
  
       <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>