<div class="search">
  <mat-form-field appearance="standard">
  <mat-label> Search </mat-label>
  <input matInput [formControl] = "song">
  </mat-form-field>
  <button mat-button onclick="search()"> Search </button>
  <div class="mat-elevation-z6">
    <table mat-table [dataSource] = "dataSourceSearch" > 
      <ng-container matColumnDef="Title">
           <th mat-header-cell *matHeaderCellDef>title </th>
           <td mat-cell *matCellDef="let song"> {{song.title}} </td>
         </ng-container>
       
         <ng-container matColumnDef="Artist">
           <th mat-header-cell *matHeaderCellDef> Artist </th>
           <td mat-cell *matCellDef="let song"> {{song.artist}} </td>
         </ng-container>
       
         <ng-container matColumnDef="Album">
           <th mat-header-cell *matHeaderCellDef> Album </th>
           <td mat-cell *matCellDef="let song"> {{song.albumName}} </td>
         </ng-container>
       
         <ng-container matColumnDef="TrackID">
           <th mat-header-cell *matHeaderCellDef> trackID </th>
           <td mat-cell *matCellDef="let song"> {{song.trackID}} </td>
         </ng-container>
         
         <ng-container matColumnDef="albumCoverURL">
           <th mat-header-cell *matHeaderCellDef> albumCoverURL </th>
           <td mat-cell *matCellDef="let song"> <img [src]= song.albumCoverURL style="width:30px;height:30px;">  </td>
         </ng-container>
       
       <ng-container matColumnDef="timeAdded">
           <th mat-header-cell *matHeaderCellDef> timeadded </th>
           <td mat-cell *matCellDef="let song"> {{song.timeAdded}} </td>
         </ng-container>
         
         <ng-container matColumnDef="votes">
           <th mat-header-cell *matHeaderCellDef> Votes </th>
           <td mat-cell *matCellDef="let song"> {{song.votes}} </td>
         </ng-container>
    
    
         <tr mat-header-row *matHeaderRowDef="displayedColumnsSearch"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumnsSearch;"></tr>
    </table>
  </div>
</div>  

<div class="mat-elevation-z8">
  <table mat-table [dataSource] = "dataSource" > 
    <ng-container matColumnDef="Title">
         <th mat-header-cell *matHeaderCellDef>title </th>
         <td mat-cell *matCellDef="let song"> {{song.title}} </td>
       </ng-container>
     
       <ng-container matColumnDef="Artist">
         <th mat-header-cell *matHeaderCellDef> Artist </th>
         <td mat-cell *matCellDef="let song"> {{song.artist}} </td>
       </ng-container>
     
       <ng-container matColumnDef="Album">
         <th mat-header-cell *matHeaderCellDef> Album </th>
         <td mat-cell *matCellDef="let song"> {{song.albumName}} </td>
       </ng-container>
     
       <ng-container matColumnDef="TrackID">
         <th mat-header-cell *matHeaderCellDef> trackID </th>
         <td mat-cell *matCellDef="let song"> {{song.trackID}} </td>
       </ng-container>
       
       <ng-container matColumnDef="albumCoverURL">
         <th mat-header-cell *matHeaderCellDef> albumCoverURL </th>
         <td mat-cell *matCellDef="let song"> <img [src]= song.albumCoverURL style="width:30px;height:30px;">  </td>
       </ng-container>
     
     <ng-container matColumnDef="timeAdded">
         <th mat-header-cell *matHeaderCellDef> timeadded </th>
         <td mat-cell *matCellDef="let song"> {{song.timeAdded}} </td>
       </ng-container>
       
       <ng-container matColumnDef="votes">
         <th mat-header-cell *matHeaderCellDef> Votes </th>
         <td mat-cell *matCellDef="let song"> {{song.votes}} </td>
       </ng-container>
  
  
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>