<div class="container">
    <h1>About</h1>
    <br>
    <p>CTC Radio is a collaborative music stream created to bring people together through music during quarantine. You can queue up songs to play on the stream, vote for other people’s songs, and check out daily playlists of songs streamed throughout each day. The radio’s queue adjusts according to how many votes a song has. This web app was created using Angular, Node.js, and the Spotify Web API by Alina Perez, Eliot Huh, Emily Cunningham, Emmy Khawsam-ang, Justin Chao, and Sebastian Fay.</p>
    <br>
</div>