<div class="container">
    <h1>About</h1>
    <br>
    <p>CTC Radio is a collaborative music stream created to bring people together during quarantine. People can queue up songs to play on the stream, vote for songs, and check out daily playlists. Voting works by... This web app was created using Angular, Node.js, and the Spotify API by Alina Perez, Eliot Huh, Emily Cunningham, Emmy Khawsam-ang, Justin Chao, and Sebastian Fay for Hackweek in July 2020.</p>
    <br>
    <h2>Spotify Access</h2>
    <p>This app requires ... </p>
    <br>
    <h2>Privacy</h2>
    <p>Does anyone wanna write this
    <br>wee 
    <br>
    <br>top 10 summer interns who give off positive wholesome vibes
    <br>1: Denis Koksal Rivet
    <br>2: Emily Cunningham
    <br> 3: Braden Chapman 
    <br>4: Jerry Li
    <br>
    <br>best new hire award
    <br> Sebastian Fay
    </p>

</div>