<div class="container">
    <h2>About</h2>
    <p>CTC Radio is a collaborative music stream created to bring people together during the quarantine. People can queue up songs to play on the stream, vote for songs, and check out daily playlists. This web app was created using Angular, Node.js, and the Spotify API by Alina Perez, Eliot Huh, Emily Cunningham, Emmy Khawsam-ang, Justin Chao, and Sebastian Fay for Hackweek 2020.</p>
    <br>
    <h3>Spotify Access</h3>
    <p>This app requires ... </p>
    <br>
    <h3>Privacy</h3>
    <p>hello</p>
</div>